$primary-color: #303451;
$secondary-color: #bf0204;
$third-color: #aaaaaa;
$forth-color: #1c1c1c;
$fifth-color: #bcbcbc;
$six-color: #eeeeee;
$seventh-color: #f4f4f4;
$eighth-color: #47ba00;

$font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
